


<%- include('layouts/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Add Posts</h1>
        </div>
    </div>
    <div>
        <h1>Title: <%= users.title %></h1>

        <h1>Heading: <%= users.heading %></h1>
        <p><%= users.article %></p>
    </div>

    
</div>


<%- include('layouts/footer') %>